@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');
/* General Settings */
:root{
    --evil-green:#033617;
    --light-green:#A4BD99;
    --olive-green:#77876B;
    --olive-green-alpha:rgba(131, 181, 91, 0.85);
    --money-green:#036b2d;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Container Settings */
.container{
    width:90%; 
    max-width: 90%;
    margin:2em auto;
    display:flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px black;
}
/* ======================
TYPOGRAPHY GENERAL */

/* labels */
.widget-label {
    display:block;
    font-weight:700;
    font-size:1rem;
    color:rgb(19, 18, 18);
    margin:0.8em 0;
    text-transform: uppercase;
}



/* ============================ 
HEADER   */
header{
    margin:0;
    padding:1em;
    text-align:center;
    background-color:var(--evil-green);
    color:var(--light-green);
}

#title{
    font-size:1.5rem;
}


/* ============================ 
Main */

main{
    background-color:whitesmoke;
    margin:0;
    padding:1em;
    background-image:url(../images/sharon-mccutcheon-8lnbXtxFGZw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* FORM */

/* general settings */

#survey-form{
    text-align:center;
    padding:1em;
    border-radius:7px;
    background-color:var(--olive-green-alpha);
}
/* form control containers */
#dropdown-widget,#name-widget,
#age-widget,#email-widget,
#user-widget{
    padding:1em;
}

/* widgets */
.form-control,textarea,button{
    font-family:inherit;
    font-size:0.8rem;
    text-align:center;
    width:100%;
    margin:0;
    padding:0.5em;
    margin:0;
    border:none;
    border-radius:20px;
    outline:none;
    box-shadow: 5px 5px 15px rgb(54, 53, 53);
}

textarea{
    text-align:left;
    padding-left:1.2em;
}

/* user interactivity */
.form-control:focus, textarea:focus{
    border:2px solid rgb(32, 190, 69);
}


button{
    font-weight: 800;
    text-transform: uppercase;
    margin:1em auto;
    width:50%;
    max-width:50%;
    padding:1em;
    display:block;
    color:var(--light-green);
    background-color:var(--money-green);
}

button:hover,button:focus{
    background-color:rgb(21, 131, 21);
}

/* Fieldset general settings */
fieldset{
    border:none;
    margin:2em 0;
}
#financial-topics-widget{
    margin-bottom: 0;
}
legend{
    font-size:1rem !important;
    line-height: 1.5em;
}
.sub-legend{
    display:block;
    margin-top:0.4em;
    text-transform: lowercase;
    font-size:0.8rem;
    font-weight: 400;
}
hr{
    width:25%;
    max-width: 25%; 
    margin:0 auto 1em auto;
    padding:0;
    border: 1px solid rgb(201, 230, 156);  
}

/* fieldset form-control containers  */
fieldset div{
    max-width:45%;
    margin:0 auto 0.5em auto;
    text-align:left;
}

input[type="checkbox"],input[type="radio"]{
    display:inline-block;
    margin-right: 0.625rem;
    height: 1rem;
    width: 1rem;
}

fieldset label{
    font-size:0.9rem;
}

/* ============================ 
FOOTER */
footer{
    font-family:inherit;
    margin:0;
    padding:1em;
    text-align:center;
    background-color:var(--evil-green);
    color:var(--light-green);
}

@media (min-width:600px){
    .container{
        max-width: 600px;
    }
    #survey-form{
        text-align:left;
    }
    fieldset{
        padding:1em;
    }

    legend{
        font-weight: 600;
        text-align:left;
    }
    fieldset div{
        max-width:100%;
        margin:0 auto 0.5em auto;
        text-align:left;
    }
    hr {
        display:none;
    }

}


